.homePage{
  width: 950px;
  margin: 0 auto;
  z-index:1;
}

.card-schedule{
  width: 185px;
  float: left;
  height:470px;
}

h2{
  font-size:1em;
}
.pagination-bar {

}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}

li{
  text-decoration: none;
  list-style-type: none;
  float: left;
  display: inline-block;
}

@media only screen and (max-width: 950px) {
  .homePage{
    width: 90%;
    margin:0 auto;
  }

  .card-schedule{
    width: 17%;
    float: left;
    height:450px;
  }

  h2{
    font-size:1em;
  }
}

@media only screen and (max-width: 768px) {
  .homePage{
    width: 90%;
    margin:0 auto;
    margin-top: 50px;
  }
  .card-schedule{
    width: 100%;
    float: left;
    height:auto;
  }
  md-card{
    padding:0;
    margin-bottom:50px;
  }
}
