@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


md-toolbar {
  position: fixed;
  z-index: 3;
  top:0;
}

.cache-div-search {
  display: none;
}

.div-search {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
}

.div-search-scroll {
  min-height:100%;
  background-color: #f3f3f3;
  margin-top: 70px;
}

.card-search {
  width:1000px;
  margin:0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
img{
  width: 20%;
  margin:0 auto;
  padding-top: 15px;
}
.moreDetails{
  text-align: center;
}

.center-image {
  text-align: center;
}

input {
  color: white;
  height: 30px;
}

.padding-fix{
  padding-right: 20px;
}

.btn-close{
  float: right;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index:2;
}
.fa-reply{
  font-size: 22px;
  color: #fff;
}
.mat-fab[_ngcontent-c3], .mat-mini-fab[_ngcontent-c3] {
  background-color: #673ab7;
}

.searchBarre{
  text-align: center;
  margin: 50px;
}


input[_ngcontent-c3] {
  color: #673ab7;
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .card-search{
    width:100%;
    margin:0 auto;
  }
  img{
    width: 70%;
    margin:0 auto;
  }
}



