<header>
  <form id="searchForm" method="post">
    <input id="s" [(ngModel)]="searchKey" (keyup.enter)="DoSearch()" placeholder="Type here..." [ngModelOptions]="{standalone: true}"/>
    <button (click)="DoSearch()"> Find </button>
  </form>
</header>

<ul>
  <li *ngFor="let oneData of getData">
    <div class="background-search" *ngIf="oneData.show.id">
      <div class="imageData">
        <img class="oneDataImage" src="{{oneData.show.image.medium}}">
      </div>
      <div class="oneDataInfo">
        <h2 id="{{oneData.show.id}}">{{oneData.show.name}}</h2>
        <span *ngIf="oneData.show.rating.average">Note: {{oneData.show.rating.average}}</span>
        <div>{{oneData.show.summary }}</div>
      </div>
    </div>
  </li>
</ul>
